* {
    outline: solid red;
}

body {
    font-family: sans-serif;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    margin-bottom: 70px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 48px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 60px;
    flex: 1;
    
}

img {
    width: 300px;
    height: auto;

}

.hero-main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-wrapper-top {
    display: flex;
    gap: 24px;
    padding-bottom: 40px;
    
}

.sign-up {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 10px;
    width: 120px;
    
}

.header-link-container {
    display: flex;
    gap: 8px;
    
}

.subtext {
    font-weight: lighter;
}

.image-container {
    display: flex;
}

.middle {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 32px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 150px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box {
    width: 150px;
    height: 150px;
    outline: solid #3882F6;
    border-radius: 20px;
    background-color: white;
}

